* {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;
}
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    }
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
}
div {
    display: block;
    unicode-bidi: isolate;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
label {
    cursor: default;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
}
.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
.main {
    display: block;
    unicode-bidi: isolate;
}
.header-container{
    display: flex;
    align-items: center;
}
.nav:hover {
    color: #404bbf;
}
.nav:focus {
    color: #404bbf;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-web {
    padding: 24px 0;
    margin-right: 76px;
    }
.nav .logo-studio {
    color: #2E2F42;
}
.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    }
.nav-li {
    display: flex;
}
.nav-page.current {
    position: relative;
    color: #404bbf;
}
.nav-page::after {
    content:"";
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-page:hover:after,
.nav-page:focus:after,
.nav-page.current:after {
    opacity: 1;
}
.nav-page {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.nav-page:hover,
.nav-page:focus {
   color:#404bbf
}
.nav-address {
        font-style: normal;
        margin-left: auto;
    }
.address {
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 0;
        padding: 0;
        align-items: center;
}
.contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    list-style-type: none;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.contacts:hover {
    color: #404bbf;
}
.contacts:focus {
    color: #404bbf;
}
.title-section-one {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/section-title.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}
.title-section-two {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    padding: 188px 0;
    }
.h-one {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        width: 100%;
        margin: 0 auto 48px;
        height: 120px;
        unicode-bidi: isolate;
        display: block;
        font-size: 3em;
    }
.button {
        display: inline-block;
        cursor: pointer;
        background: #4d5ae5;
        margin: 0 auto;
        border: none;
}
.button-title {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        padding-block: 16px;
        padding-inline: 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color:#4D5AE5;
        text-align: center;
        border: none;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.section-about {
    background-color: #FFFFFF;
    align-items: center;
    padding: 120px 0 120px;
    }
.about-list {
    display: flex;
    gap: 24px;
    height: 224px;
    list-style-type: none;
    margin: 0 auto;
    width: 1128px;
    }
.about-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    height: 224px; 
    width: calc((100% - 72px) / 4);
    margin: 0;
    border-radius: 0px 0px 4px 4px;
    }
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    flex-shrink: 0;
}
.title-three {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    }
.about-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455 ;
text-align: center;
    }
.section-our-team {
    background-color: #f4f4fd;
    justify-content: first baseline;
    height: 732px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    padding: 120px 0 120px;
    text-transform: capitalize;
    }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title-two {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    width: 162px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
    margin-bottom: 72px;
     }
.our-team-list {
        display: flex;
        align-items: first baseline;
        justify-content: center;
        flex-direction: row;
        gap: 24px;
        width: calc(100%-72px/4);
        height: 104px;
        list-style-type: none;
        padding-bottom: 120px;
        padding-left: 156px;
        padding-right: 156px;
        margin: 0;
        }
.social-icons {
     display: flex;
     justify-content: center;
     gap: 24px;
     flex-shrink: 0;
     align-self: flex-end;
}
.social-chain {
margin:8px 0;
}
.social-icons .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-chain .icon-chain {
    fill: #f4f4fd;
}
.social-icons .link:hover,
.social-icons .link:focus{
    background-color: #404bbf;
}
.our-team-specialist {
    justify-content: center;
    background: #fff;
    border-radius: 0 0 4px 4px;
    width: calc(100%-72px/4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    gap: 32px;
    margin: 0 auto;
}
.specialist-name {
    padding: 32px 0 32px;
}
.section-our-portfolio{
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
    }
.portfolio-div{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: 360px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
     }
.our-portfolio-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 48px;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        background: #fff;
        width: calc(100%-48/3);
        }
.our-portfolio-li{
        position: relative;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
.portfolio-li {
    position: relative;
    overflow: hidden hidden;
}
.our-portfolio-li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-overly {
     position: absolute;
     top: 0;
     right: 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     width: 100%;
     height: 100%;
     color: #f4f4fd;
     background-color: #4d5ae5;
     padding: 40px 32px;
     transform: translateY(100%);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     overflow: auto;
    }
.our-portfolio-li:hover .card-overly {
  transform: translateY(0);
        }
.footer {
    background:#2e2f42;
    padding: 100px 0 100px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.footer-logo-text{
     display: flex;
     align-items: baseline;
     flex-direction: column;
}
.footer-logo-web {
    margin-bottom: 16px;
    display: inline-block;
    vertical-align: middle;
    }
.footer-logo-studio {
      color: #f4f4fd;
        }
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    height: 72px;
    max-width: 264px;
    }
.text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.social-media {
    height: 80px;
    position: relative;
    flex-direction: column;
}
.container.foter-end {
        display: flex;
         margin-left:auto;
         flex-direction: row;
         gap: 120px;
         align-items: baseline;
        }

.social-chain-one {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        align-self: flex-end;
    }
.social-icons-one {
    display: flex;
    gap: 16px;
}
.social-icons-one .social-chain-one {
    width: 40px;
    height: 40px;
}

.social-icons-one .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-one .icon-chain {
    fill: #f4f4fd;
 }

.social-icons-one .link:hover,
.social-icons-one .link:focus {
    background-color: #31d0aa;
}
.subscribe {
    display: block;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.form-fild-email {
    width: 264px;
}
.form-input-email {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #fff;
    }
input::placeholder {
    color: #ffffff;
        font-weight: 400;
        font-size: 12px;
        transition: 0.2s
    }
.form-fild-label {
               
    }
.form-input:focus +.form-fild-label,
.form-input:not(:placeholder-shown) +.form-fild-label {
    top: 4px;
    font-size: 10px;
    opacity: 1;
}
.subscribe-button {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #ffffff;
            cursor: pointer;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            background:#4d5ae5;
            background-color: #4D5AE5;
            border-radius: 4px;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            min-width: 165px;
            height: 40px;
            font-family: "Roboto", sans-serif;
}
.icon-button {
    fill: #fff;
    margin-left: 16px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.subscribe-button:hover,
.subscribe-button:focus,
.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
}
.close-button:hover .icon-close-button,
.close-button:focus .icon-close-button {
    fill: #fff;
}
.icon-close-button {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    }
.modal-form {
    gap: 24px;
}
.form-field {
    margin-bottom: 8px;
 }
.form-modal-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    }
.modal-icons {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        fill: #2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
.input-modal {
    position: relative;
    margin-bottom: 16px;
}
.form-text-modal {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-comment {
    margin-bottom: 16px;
}
.form-input-modal:focus+ .modal-icons {
    fill: #4d5ae5;
}
.privacy-checkbox {
    margin-bottom: 24px;
}
.form-input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.form-input-modal:focus,
.form-input-modal:hover,
.form-text-modal:hover,
.form-text-modal:focus {
    outline: none;
    border-color: #4d5ae5;
}
.checked-element {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}
.privacy-checkbox-input:checked+.form-modal-label .checked-element {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.privacy-policy {
    color: #4d5ae5;
    text-decoration: underline;
}
.send-button {
    margin: 0 auto;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
    background-color: #404bbf;
}
